http_interactions:
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/data/dataflow/IMF.STA/CPI/%2B/%2A?c%5BCOUNTRY%5D=ZZZ&c%5BINDEX_TYPE%5D=CPI&c%5BCOICOP_1999%5D=_T&c%5BTYPE_OF_TRANSFORMATION%5D=IX&c%5BFREQUENCY%5D=M&attributes=dsd&measures=all
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{},"data":{"dataSets":[{"structure":0,"action":"Replace"}],"structures":[{"dataSets":[0],"links":[{"urn":"urn:sdmx:org.sdmx.infomodel.datastructure.Dataflow=IMF.STA:CPI(5.0.0)","title":"Dataflow"},{"urn":"urn:sdmx:org.sdmx.infomodel.datastructure.DataStructure=IMF.STA:DSD_CPI(5.0.0)","title":"DataStructureDefinition"}],"dimensions":{"series":[{"id":"COUNTRY","keyPosition":0,"roles":[],"values":[]},{"id":"INDEX_TYPE","keyPosition":1,"roles":[],"values":[]},{"id":"COICOP_1999","keyPosition":2,"roles":[],"values":[]},{"id":"TYPE_OF_TRANSFORMATION","keyPosition":3,"roles":[],"values":[]},{"id":"FREQUENCY","keyPosition":4,"roles":["FREQ"],"values":[]}],"observation":[{"id":"TIME_PERIOD","keyPosition":5,"values":[]}]},"measures":{"observation":[{"id":"OBS_VALUE","roles":[]}]},"attributes":{"dimensionGroup":[{"id":"REPORTING_PERIOD_TYPE","roles":[],"isMandatory":false,"relationship":{"dimensions":["TYPE_OF_TRANSFORMATION"]}},{"id":"TRANSFORMATION","roles":[],"isMandatory":false,"relationship":{"dimensions":["TYPE_OF_TRANSFORMATION"]}},{"id":"UNIT","roles":[],"isMandatory":false,"relationship":{"dimensions":["TYPE_OF_TRANSFORMATION"]}}],"series":[{"id":"SCALE","roles":[],"isMandatory":false,"relationship":{"dimensions":["COUNTRY","INDEX_TYPE","COICOP_1999","TYPE_OF_TRANSFORMATION","FREQUENCY"]}},{"id":"DECIMALS_DISPLAYED","roles":[],"isMandatory":false,"relationship":{"dimensions":["COUNTRY","INDEX_TYPE","COICOP_1999","TYPE_OF_TRANSFORMATION","FREQUENCY"]}},{"id":"OVERLAP","roles":[],"isMandatory":false,"relationship":{"dimensions":["COUNTRY","INDEX_TYPE","COICOP_1999","TYPE_OF_TRANSFORMATION","FREQUENCY"]}},{"id":"COMMON_REFERENCE_PERIOD","roles":[],"isMandatory":false,"relationship":{"dimensions":["COUNTRY","INDEX_TYPE","COICOP_1999","TYPE_OF_TRANSFORMATION","FREQUENCY"]}},{"id":"IFS_FLAG","roles":[],"isMandatory":false,"relationship":{"dimensions":["COUNTRY","INDEX_TYPE","COICOP_1999","TYPE_OF_TRANSFORMATION","FREQUENCY"]}}],"observation":[{"id":"PRECISION","roles":[],"isMandatory":false,"relationship":{"observation":{}}},{"id":"DERIVATION_TYPE","roles":[],"isMandatory":false,"relationship":{"observation":{}}},{"id":"REFERENCE_PERIOD","roles":[],"isMandatory":false,"relationship":{"observation":{}}},{"id":"STATUS","roles":[],"isMandatory":false,"relationship":{"observation":{}}}]},"annotations":[]}]}}'
  recorded_at: 2026-06-14 19:10:08
recorded_with: VCR-vcr/2.1.0
