http_interactions:
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/structure/dataflow/IMF.STA/CPI/%2B?references=datastructure
  response:
    status: 200
    headers:
      content-type: application/vnd.sdmx.structure+json;version=2.0.0
    body:
      raw_gzip: |-
        eJztWm1v2zgS/isEv1yKUxwnm6SNDwVOlehEWFvSSXJ3s9dAYCTG4q1MGiSVNCj83w+kJL+k
        cZq2Udo
        A/ZJYFDnPzPDhaEjOJ5hjheHgk/kfK1FlqhJEwsF/P0HMGFdYUc7qZ5rDAeSCTimD
        FrzGZUXgAHp+gk
        4jO/ECHy6spheVQ8pwuWoosVSTeY4VyW21Nvqgf3C023+zu3+U9F8P+v3B
        fr93fHh0cLL/F1xcWPVgN
        3ZTJ/SgBRme6VEOZ7KaEQFCQTMCPJaTj2DHCb1XTR+pTSLs4a4L
        C+ZEZoLOGxs/LSx4TYSkXI886vV7
        fWhBPCUsu/Vcbet42IsTG1qb7nL4bM4ZYcrAYqUEvawU
        GVGpTMOGH1uj7Lab2+jABbTgjCisZS/fTiS
        e3j[...]
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/structure/datastructure/IMF.STA/DSD_CPI/5.0%2B.0?references=children
  response:
    status: 200
    headers:
      content-type: application/vnd.sdmx.structure+json;version=2.0.0
    body:
      raw_gzip: |-
        eJzsWttvHNUZ/1eO/GSrzio4hIulPiy763RVr+3ujilpVa2OZ8/uDpmds8xlHRNFClG4FFpQ
        VbVQhES
        5iJCogSRgGgLkxf/A+s1+RY0D/0V/3zlz2xsZAwtu4cHrmXM/v+/+fXNupsF9PrN4
        bsaUjim6fs1si4
        7wZhZ/f26GO470u[...]
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/availability/dataflow/IMF.STA/CPI/%2B/%2A/FREQUENCY?c%5BCOUNTRY%5D=ZZZ&mode=available&references=none
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"data":{"dataConstraints":[{"links":[{"urn":"urn:sdmx:org.sdmx.infomodel.registry.DataConstraint=IMF.STA:CPI(5.0.0)","type":"dataconstraint","rel":"self"}],"annotations":[{"id":"series_count","title":"0","type":"sdmx_metrics"}],"id":"CPI","name":"Data
        Constraint","names":{"en":"Data Constraint"},"description":"Data Availability
        Constraint","descriptions":{"en":"Data Availability Constraint"},"version":"5.0.0","agencyID":"IMF.STA","role":"Actual","constraintAttachment":{"dataStructures":["urn:sdmx:org.sdmx.infomodel.datastructure.DataStructure=IMF.STA:DSD_CPI(5.0.0)"]},"cubeRegions":[{"include":true,"components":[{"id":"FREQUENCY","include":false,"removePrefix":false}],"keyValues":[],"annotations":[]}]}]},"meta":{"schema":"https://raw.githubusercontent.com/sdmx-twg/sdmx-json/master/metadata-message/tools/schemas/2.0.0/sdmx-json-metadata-schema.json","id":"IDREF7671","test":false,"prepared":"2026-06-14T19:10:06.942360668Z","contentLanguages":["en"],"sender":{"id":"unknown"}}}'
  recorded_at: 2026-06-14 19:10:06
recorded_with: VCR-vcr/2.1.0
