http_interactions:
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/structure/dataflow/IMF.STA/CPI/%2B?references=datastructure
  response:
    status: 200
    headers:
      content-type: application/vnd.sdmx.structure+json;version=2.0.0
    body:
      raw_gzip: |-
        eJztWm1v2zgS/isEv1yKUxwn27SNDwVOlehEWFvSSXJ3s9dAYCTG4q1MGiSV1Cj83w+kJL+k
        cZq2Udo
        A/ZJYFDnPzPDhaEjOJ5hjheHgk/kfK1FlqhJEwsF/P0HMGFdYUc7qZ5rDAeSCTimD
        FrzGZUXgAHp+gk
        4jO/ECHy6tpheVQ8pwuW4osVSTeY4VyW21Mfqof3S833+zf3ic9F8P+v3B
        Yb/36uXx0cnhX3B5YdWD3
        dhNndCDFmR4pkc5nMlqRgQIBc0I8FhOPoI9J/ReNH2kNomw+7su
        LZgTmQk6b2z8tLTgNRGScj3yuNfv
        9aEF8ZSwbOG52tbxsBcnNrS23eXw2ZwzwpSBxUoJelkp
        MqJSmYYtP7ZG2W03t9GBC2jBGVFYy169nUg
        8vX[...]
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/structure/datastructure/IMF.STA/DSD_CPI/5.0%2B.0?references=children
  response:
    status: 200
    headers:
      content-type: application/vnd.sdmx.structure+json;version=2.0.0
    body:
      raw_gzip: |-
        eJzsWltvG8cV/isDvVRGadaVG6cW0AdGogwGoqSSlGu3KIThckhustxl9iKJMQQ4hnNp0iYo
        ijZNECD
        NBXFs1IntRKnjJH7RH6DeqNeglpN/0e/MzF7EXcpMYNpukgdb3JmzszPfd25zZs5N
        NbjPp2bPTRmObY
        iuXzXaoiO8qdk/n[...]
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/availability/dataflow/IMF.STA/CPI/%2B/%2A/FREQUENCY?c%5BCOUNTRY%5D=USA&mode=available&references=none
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"data":{"dataConstraints":[{"links":[{"urn":"urn:sdmx:org.sdmx.infomodel.registry.DataConstraint=IMF.STA:CPI(5.0.0)","type":"dataconstraint","rel":"self"}],"annotations":[{"id":"series_count","title":"150","type":"sdmx_metrics"},{"id":"time_period_start","title":"1950-01-01","type":"sdmx_metrics"},{"id":"time_period_end","title":"2026-06-01","type":"sdmx_metrics"}],"id":"CPI","name":"Data
        Constraint","names":{"en":"Data Constraint"},"description":"Data Availability
        Constraint","descriptions":{"en":"Data Availability Constraint"},"version":"5.0.0","agencyID":"IMF.STA","role":"Actual","constraintAttachment":{"dataStructures":["urn:sdmx:org.sdmx.infomodel.datastructure.DataStructure=IMF.STA:DSD_CPI(5.0.0)"]},"cubeRegions":[{"include":true,"components":[{"id":"FREQUENCY","include":false,"removePrefix":false,"values":[{"value":"A"},{"value":"M"},{"value":"Q"}]}],"keyValues":[],"annotations":[]}]}]},"meta":{"schema":"https://raw.githubusercontent.com/sdmx-twg/sdmx-json/master/metadata-message/tools/schemas/2.0.0/sdmx-json-metadata-schema.json","id":"IDREF6558","test":false,"prepared":"2026-06-14T19:10:06.049169379Z","contentLanguages":["en"],"sender":{"id":"unknown"}}}'
  recorded_at: 2026-06-14 19:10:06
recorded_with: VCR-vcr/2.1.0
