http_interactions:
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/metadata/metadataset/%2A/%2A/%2B?detail=allstubs
  response:
    status: 200
    headers:
      content-type: application/json
      x-correlation-id: f58902c9de3c4b70972ef336b5e59916
    body:
      string: '{"data":{"metadataSets":[{"annotations":[],"id":"WBQPSD","name":"WB
        Quarterly Public Sector Debt","names":{"en":"WB Quarterly Public Sector Debt"},"version":"1.0.0","agencyID":"IMF","action":"Information","attributes":[],"targets":[]},{"annotations":[],"id":"DEALOGIC","name":"Dealogic","names":{"en":"Dealogic"},"version":"1.0.0","agencyID":"IMF","action":"Information","attributes":[],"targets":[]},{"annotations":[],"id":"LMFS","name":"Monetary
        and Financial Statistics (MFS)","names":{"en":"Monetary and Financial Statistics
        (MFS)"},"version":"1.0.0","agencyID":"IMF.STA","action":"Information","attributes":[],"targets":[]},{"annotations":[],"id":"BLOOMBERG_GOVERNMENT_BONDS_DATA_LICENSE","name":"Bloomberg
   [...]
