http_interactions:
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/metadata/metadataset/IMF/FINSTATS/1.0.0?detail=full
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"data":{"metadataSets":[{"annotations":[{"id":"origin","value":"INTEGRATION"},{"id":"isFinal"},{"id":"lastUpdatedAt","value":"2026-05-26T17:58:13.600524Z"}],"id":"FINSTATS","name":"FinStats","names":{"en":"FinStats"},"description":"ABOUT
        THIS DATA SERVICE\nUsed by more than 1,500 World Bank, IFC and IMF financial
        sector professionals since its launch in 2010, FinStats has been employed
        in a wide range of operational and strategic activities including FSAPs, policy
        loans, country strategies, management briefings, Financial Sector Flagships,
        and research.\n\nFinStats brings together a comprehensive set of 46 financial
        indicators that cover depth, efficiency, and access dimensions for banks,
        non-banks, and markets for 120+ countries over the last 10+ years.\n\nFinStats
        also offers a portable Excel tool to quickly create customized graphs and
        tables.\n\nFinStats applies a transparent statistical benchmark methodology
        to create country-specific statistical benchmarks that account for structural
        country factors which affect financial sector development. The benchmark model
        controls for whether a country is land-locked.\n\nBeginning in 2020 the World
        Bank is allowing the Library to store the FinStats database on the library''s
        server, with no need to send the files to IMF staff by email.​​​​​​","descriptions":{"en":"ABOUT
        THIS DATA SERVICE\nUsed by more than 1,500 World Bank, IFC and IMF financial
        sector professionals since its launch in 2010, FinStats has been employed
        in a wide range of operational and strategic activities including FSAPs, policy
        loans, country strategies, management briefings, Financial Sector Flagships,
        and research.\n\nFinStats brings together a comprehensive set of 46 financial
        indicators that cover depth, efficiency, and access dimensions for banks,
        non-banks, and markets for 120+ countries over the last 10+ years.\n\nFinStats
        also offers a portable Excel tool to quickly create customized graphs and
        tables.\n\nFinStats applies a transparent statistical benchmark methodology
        to create country-specific statistical benchmarks that account for structural
        country factors which affect financial sector development. The benchmark model
        controls for whether a country is land-locked.\n\nBeginning in 2020 the World
        Bank is allowing the Library to store the FinStats database on the library''s
        server, with no need to send the files to IMF staff by email.​​​​​​"},"version":"1.0.0","agencyID":"IMF","action":"Replace","metadataflow":"urn:sdmx:org.sdmx.infomodel.metadatastructure.Metadataflow=IMF:ECONFINDATA(1.0.0)","attributes":[{"value":"","id":"DOI","attributes":[]},{"value":{"en":"FinStats
        is a widely used World Bank financial sector database providing 46 benchmarked
        indicators on depth, efficiency, and access across banks, non-banks, and markets
        for 120+ countries over 10+ years, with tools for analysis and visualization."},"id":"FULL_DESCRIPTION","attributes":[]},{"value":"","id":"AUTHOR","attributes":[]},{"value":"WBG","id":"PUBLISHER","attributes":[]},{"value":"","id":"PUBLISHER","attribu[...]
