http_interactions:
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/data/dataflow/IMF.STA/CPI/%2B/USA.CPI._T.IX.M?lastNObservations=2&attributes=dsd&measures=all
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"meta":{},"data":{"dataSets":[{"structure":0,"action":"Replace","series":{"0:0:0:0:0":{"attributes":[0,null,0,"2010A","true"],"observations":{"0":["151.4352997287388",null,0,"2010A",null],"1":["152.7225866809138",null,0,"2010A",null]}}}}],"structures":[{"dataSets":[0],"links":[{"urn":"urn:sdmx:org.sdmx.infomodel.datastructure.Dataflow=IMF.STA:CPI(5.0.0)","title":"Dataflow"},{"urn":"urn:sdmx:org.sdmx.infomodel.datastructure.DataStructure=IMF.STA:DSD_CPI(5.0.0)","title":"DataStructureDefinition"}],"dimensions":{"series":[{"id":"COUNTRY","keyPosition":0,"roles":[],"values":[{"id":"USA"}]},{"id":"INDEX_TYPE","keyPosition":1,"roles":[],"values":[{"id":"CPI"}]},{"id":"COICOP_1999","keyPosition":2,"roles":[],"values":[{"id":"_T"}]},{"id":"TYPE_OF_TRANSFORMATION","keyPosition":3,"roles":[],"values":[{"id":"IX"}]},{"id":"FREQUENCY","keyPosition":4,"roles":["FREQ"],"values":[{"id":"M"}]}],"observation":[{"id":"TIME_PERIOD","keyPosition":5,"values":[{"value":"2026-M03"},{"value":"2026-M04"}]}]},"measures":{"observation":[{"id":"OBS_VALUE","roles":[]}]},"attributes":{"dimensionGroup":[{"id":"REPORTING_PERIOD_TYPE","roles":[],"isMandatory":false,"relationship":{"dimensions":["TYPE_OF_TRANSFORMATION"]},"values":[]},{"id":"TRANSFORMATION","roles":[],"isMandatory":false,"relationship":{"dimensions":["TYPE_OF_TRANSFORMATION"]},"values":[]},{"id":"UNIT","roles":[],"isMandatory":false,"relationship":{"dimensions":["TYPE_OF_TRANSFORMATION"]},"values":[]}],"series":[{"id":"SCALE","roles":[],"isMandatory":false,"relationship":{"dimensions":["COUNTRY","INDEX_TYPE","COICOP_1999","TYPE_OF_TRANSFORMATION","FREQUENCY"]},"values":[{"id":"0"}]},{"id":"DECIMALS_DISPLA[...]
