http_interactions:
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/metadata/metadataset/%2A/%2A/%2B?detail=full
  response:
    status: 200
    headers:
      content-type: application/json
      x-correlation-id: 16d7bc7a2c8b87956cc0ca39e823d8eb
    body:
      string: '{"data":{"metadataSets":[{"annotations":[{"id":"origin","value":"INTEGRATION"},{"id":"isFinal"},{"id":"lastUpdatedAt","value":"2025-11-18T22:08:00.458719Z"}],"id":"WBQPSD","name":"WB
        Quarterly Public Sector Debt","names":{"en":"WB Quarterly Public Sector Debt"},"description":"The
        Quarterly Public Sector Debt Statistics (QPSD) database, jointly developed
        by the World Bank and the International Monetary Fund, brings together detailed
        quarterly public sector debt data of selected countries.","descriptions":{"en":"The
        Quarterly Public Sector Debt Statistics (QPSD) database, jointly developed
        by the World Bank and the International Monetary Fund, brings together detailed
        quarterly public sector debt data of selected countries."},"version":"1.0.0","agencyID":"IMF","action":"Replace","metadataflow":"urn:sdmx:org.sdmx.infomodel.metadatastructure.Metadataflow=IMF:EXTERNAL_DATASET_CARDS(1.0.0)","attributes":[{"value":"","id":"DOI","attributes":[]},{"value":{"en":"The
        Quarterly Public Sector Debt Statistics (QPSD) database, jointly developed
        by the World Bank and the International Monetary Fund, brings together detailed
        quarterly public sector debt data of selected countries. The main purpose
        of the database is to facilitate timely dissemination in standard formats
        of public sector debt data. "},"id":"FULL_DESCRIPTION","attributes":[]},{"value":"","id":"AUTHOR[...]
