http_interactions:
- request:
    method: GET
    uri: https://api.imf.org/external/sdmx/3.0/availability/dataflow/IMF.STA/CPI/%2B/%2A/%2A?mode=available&references=none
  response:
    status: 200
    headers:
      content-type: application/json
      x-correlation-id: 084b1029dca8281332b19befacc17915
    body:
      string: '{"data":{"dataConstraints":[{"links":[{"urn":"urn:sdmx:org.sdmx.infomodel.registry.DataConstraint=IMF.STA:CPI(5.0.0)","type":"dataconstraint","rel":"self"}],"annotations":[{"id":"series_count","title":"31587","type":"sdmx_metrics"},{"id":"time_period_start","title":"1900-01-01","type":"sdmx_metrics"},{"id":"time_period_end","title":"2026-01-01","type":"sdmx_metrics"}],"id":"CPI","name":"Data
        Constraint","names":{"en":"Data Constraint"},"description":"Data Availability
        Constraint","descriptions":{"en":"Data Availability Constraint"},"version":"5.0.0","agencyID":"IMF.STA","role":"Actual","constraintAttachment":{"dataStructures":["urn:sdmx:org.sdmx.infomodel.datastructure.DataStructure=IMF.STA:DSD_CPI(5.0.0)"]},"cubeRegions":[{"include":true,"components":[{"id":"INDEX_TYPE","include":false,"removePrefix":false,"values":[{"value":"CPI"},{"value":"HICP"}]},{"id":"COUNTRY","include":false,"removePrefix":false,"values":[{"value":"ABW"},{"value":"AFG"},{"value":"AGO"},{"value":"AIA"},{"value":"ALB"},{"value":"ANT"},{"value":"ARE"},{"value":"ARG"},{"value":"ARM"},{"value":"ATG"},{"value":"AUS"},{"value":"AUT"},{"value":"AZE"},{"value":"BDI"},{"value":"BEL"},{"value":"BEN"},{"value":"BFA"},{"value":"BGD"},{"value":"BGR"},{"value":"BHR"},{"value":"BHS"},{"value":"BIH"},{"value":"BLR"},{"value":"BLZ"},{"value":"BOL"},{"value":"B[...]
